.cache
.classpath
.project
.settings

.idea
*.iml

*.log
rebel.xml

.DS_Store

bin
target

modules/web/src/test/fitnesse/FitNesseRoot/files/testResults
modules/web/src/test/fitnesse/FitNesseRoot/ErrorLogs/

# Do not track generated java files
composites/schemas/src/main/generated/
